<br><br><br><div class="container col-md-4 col-md-offset-4 bg-light loginBox" style="padding-bottom:30px" >
    <br><br>
     
     <h2>UPDATE PASSWORD</h2>
         <div class="container-fluid">
             
             <form #form="ngForm" novalidate (ngSubmit)="submit()" class="m-2">
                 <div class="form-group">
                     <label class="float-left" >Username</label>
                     <input class="form-control" #username="ngModel" name="username" [(ngModel)]="account.username" required />
                     <span *ngIf="submitted && username.invalid" class="text-danger">
                        Please enter username
                     </span>
                 </div>
                 <div class="form-group">
                     <label class="float-left" >Old Password</label>
                     <input class="form-control" type="password"  #password="ngModel" name="password" [(ngModel)]="account.password" required />
                     <span *ngIf="submitted && password.invalid" class="text-danger">
                        Please enter old password
                     </span>
                 </div>
                 <div class="form-group">
                     <label class="float-left" >New Password</label>
                     <input class="form-control" type="password"  #npassword="ngModel" name="npassword" [(ngModel)]="newpass" required />
                     <span *ngIf="submitted && npassword.invalid" class="text-danger">
                        Please enter new password
                     </span>
                 </div>
                 <div class="form-group">
                     <label class="float-left">Re-enter New Password</label>
                     <input class="form-control" type="password" required #nrpassword="ngModel" name="nrpassword" [(ngModel)]="renewpass" />
                     <span *ngIf="submitted && nrpassword.invalid" class="text-danger">
                        Re-enter your new password
                     </span>
                 </div>
                 <div class="text-center">
                     <button class="btn btn-primary m-1" (click)="validate(form)" type="submit">
                         Submit
                     </button>
                     <button class="btn btn-secondary m-1" routerLink="/candidate">
                         Back
                     </button>
                     
                 </div>
             </form>
             
     </div>
     </div>