<div class="container">
    <br>
    <br>
    <h3>ENABLE VOTING STATION-WISE</h3>
    <div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Station Name</th>
                    <th scope="col">Number of users</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let x of stationDetails">
                    <td>{{ x[0] }}</td>
                    <td>{{ x[1] }}</td>
                    <td><button type="button" class="btn btn-outline-success" (click)="enableStation(x[0])">Activate</button>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-secondary m-1" routerLink="/ess">
            Home
        </button>

    </div>
</div>
