<br><br><br>
<div class="container col-md-8 col-md-offset-4 bg-light loginBox" style="padding-bottom:40px">
    <br>
    <button class="btn btn-info m-4" routerLink="/voterpassword" >Update Password</button>
    <button class="btn btn-info m-4" routerLink="/viewcandidate" >View Candidates</button>
    <button class="btn btn-info m-4" routerLink="/viewresult" >View Result</button>
    <button class="btn btn-info m-4" routerLink="">Logout</button>
    <br><br>
    <button class="btn btn-primary btn-lg active" routerLink="/votebuttons" [disabled]="check()" aria-pressed="true">VOTING PORTAL</button>
</div>
<div>
    
</div>
